input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

	.otpSubheading{
		font-size: 20px;
		/* margin-bottom: -20px; */
	font-weight: 500;
	}
.box{
	margin-top: -40px;
}
.mainHeading{
	font-size: 25px;
	font-weight: 600;
	
}
.formcheck {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: .4s ease-in-out;
  z-index: 10;
  height: 650px;
  width: 550px;
}

.formcheck:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  scale: 0.99;
}

.heading1 {
  position: relative;
  text-align: center;
  color: black;
  top: 3em;
  font-weight: bold;
}

.check1 {
  position: relative;
  align-self: center;
}

.inputcheck {
	
  position: relative;
  font-weight: 600;
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 3px 3px 6px #d1d1d1,
            inset -3px -3px 6px #ffffff;
  top: 6.5em;
  padding-left: 15px;
  transition: .4s ease-in-out;
}

.inputcheck:hover {
  box-shadow: inset 0px 0px 0px #d1d1d1,
            inset 0px 0px 0px #ffffff;
  background-color: lightgrey;
}

.inputcheck:focus {
  box-shadow: inset 0px 0px 0px #d1d1d1,
            inset 0px 0px 0px #ffffff;
  background-color: lightgrey;
}

.btn11 {
  position: relative;
  top: 8.5em;
  width: 17em;
  height: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
             -1px -1px 3px #ffffff;
}

.btn11:active {
  box-shadow: inset 3px 3px 6px #b5b5b5,
            inset -3px -3px 6px #ffffff;
}

.btn22 {
  position: relative;
  top: 9.5em;
  width: 17em;
  height: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
             -1px -1px 3px #ffffff;
}


.btn22:active {
  box-shadow: inset 3px 3px 6px #b5b5b5,
            inset -3px -3px 6px #ffffff;
}
.hinhanhcheck{
	margin-top: -20px;
}
@media (max-width: 500px) {
    form {
        height: 80%;
        justify-content: flex-start; 
    }
    image#image0 {
        width: 50px;
    }
    .hinhanhcheck {
        margin-top: 20px;
    }
    .inputcheck {
      position: relative;
      font-weight: 600;
      /* width: 10px; */
      height: 27px;
      margin: 9px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: rgb(235, 235, 235);
      box-shadow: inset 3px 3px 6px #d1d1d1, inset -3px -3px 6px #ffffff;
      top: 6.5em;
      padding-left: 15px;
      transition: .4s ease-in-out;
    }
    
}
@media (max-width: 400px) {
    .hinhanhcheck {
        margin-top: 0;
    }
    image#image0 {
        width: 45px;
    }
    .mainHeading {
        font-size: 20px;
        font-weight: 600;
    }
    .otpSubheading {
        font-size: 14px;
        font-weight: 500;
    }
    .inputcheck {
      position: relative;
      font-weight: 600;
      width: 40px;
      height: 27px;
      margin: 5px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: rgb(235, 235, 235);
      box-shadow: inset 3px 3px 6px #d1d1d1, inset -3px -3px 6px #ffffff;
      top: 6.5em;
      padding-left: 15px;
      transition: .4s ease-in-out;
    }
}