/* Header */


body {
  margin:0;
}



.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg,#4f84c7, #1d92ff);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:5vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 0vh;
    margin-bottom: -20px;
    min-height: 80px;
    max-height: 150px;
}

.content {
  position:relative;
  /* height:20vh; */
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0px 6px rgb(22, 44, 95);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0,#113448,#02548c);

}
.list-group{
  border-radius: 0.5rem;
  border-top-left-radius: 0px;
}

.col-row-A{
    width: 22%;
}
.col-row-B{
    width: 78%;
}
.list-group-item{
  color:#666;
  border:none;
 background-color:#f5f5f5;
}
h5{
  margin-left:15px;
  font-size:18px;
  margin-top:20px;

}

.footer_text{
  text-align:center;
  font-weight:700;
  width:100%;
  font-size:16px;
  color:#474747;
  margin-bottom: 6px;
}
/* TOAST */
.btn--disable{
  opacity: 0.5 !important;
  cursor: default;
}
#toast1{
  position: fixed;
  top:32px;
  right:30px;
z-index:999;
}
.toast1{
  display:flex;
  align-items: center;
  background-color: #fff;
  padding:20px 0;
  border-radius: 2px;
  border-left: 4px solid ;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  min-width: 350px;
  max-width: 400px;
max-height: 80px;
  transition: all linear 0.3s;
  z-index: 999;
border-left: 10px solid;

}
@keyframes slideInLeft{
  from{
      transform:translateX(calc(100% + 32px));
      opacity: 0.5;
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes fadeOut{
  to{
      opacity:0;
  }
}
.toast1_icon{
font-size:30px;
padding:0 20px;
}
.toast1_body{
  font-size:16px;
  font-weight: 600;
  color:#333;
  flex-grow: 1;
}
.toast1_title{
font-weight: 600;
font-size:20px;
color:#666;
font-family: Georgia, serif;
}
.toast1_msg{
  font-size:16px;
  color:#555;
  margin-top:4px;
  line-height: 1;
font-weight: 600;
font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif, serif;
}
.toast1_close{
  padding:0 20px;
  font-size:20px;
}
.toast1_close:hover{
  opacity: 0.7;
}
.toast1+.toast1{
  margin-top:24px;
}
.toast1--success{
  border-color: #297d3a;
}
.toast1--success .toast1_icon{
  color: #1f7530;
}
.toast1--warning{
  border-color: #eba709;
}
.toast1--warning .toast1_icon{
  color: #eba709;
}
.toast1--error{
  border-color: #af0b0b;
}
.toast1--error .toast1_icon{
  color: #a60a0a;
}
.modal_login{
display: none;
/* display: flex; */
justify-content: center;
align-items: center	;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 100	;
}
.loading-bar{
position: relative;
width: 110px;
height: 110px;
background: transparent;
border: px solid #3c3c3c;
border-radius: 50%;
text-align: center;
line-height: 111px;
font-family: sans-serif;
font-size: 15px;
color: #ffffff;
letter-spacing: 3px;
text-transform: uppercase;
text-shadow: 0 0 20px #00f3ff;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
font-weight: 700;
}

.loading-bar:before {
content: "";
position: absolute;
top: -3px;
left: -3px;
width: 100%;
height: 100%;
border: 3px solid transparent;
border-top: 5px solid #00a1ff;
border-right: 5px solid #00a1ff;
border-radius: 50%;
animation: animateC 2s linear infinite;
}

@keyframes animateC {
0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes animate {
0% {
  transform: rotate(45deg);
}

100% {
  transform: rotate(405deg);
}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
