@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html,body {
	position: relative;
	min-height: 100vh;
	background-color: #E1E8EE;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-structor {
	background-color: #365985;
	border-radius: 15px;
	height: 650px;
	width: 550px;
	position: relative;
	overflow: hidden;



	.signup {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
		transition: all .3s ease;

		&.slide-up {
			top: 5%;
			transform: translate(-50%, 0%);
			transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
		}

		&.slide-up .form-title {
			font-size: 1em;
			cursor: pointer;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			transition: all .3s ease;
		}

		.form-title {
			color: #fff;
			font-size: 1.7em;
			text-align: center;

			span {
				color: rgba(0,0,0,0.4);
				opacity: 0;
				visibility: hidden;
				transition: all .3s ease;
			}
		}

		.form-holder {
			border-radius: 15px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 30px;
			opacity: 1;
			visibility: visible;
			transition: all .3s ease;

			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 30px;
				line-height: 30px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 12px;

				&:last-child {
					border-bottom: 0;
				}

				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.4);
				}
			}
		}

		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,0.7);
			border: 0;
			border-radius: 15px;
			display: block;
			margin: 15px auto; 
			padding: 15px 45px;
			width: 100%;
			font-size: 13px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			transition: all .3s ease;

			&:hover {
				background-color: rgba(0,0,0,0.8);
			}
		}
	}

	.login {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 5;
		transition: all .3s ease;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -20px;
			transform: translate(-50%, 0);
			background-color: #fff;
			width: 200%;
			height: 250px;
			border-radius: 50%;
			z-index: 4;
			transition: all .3s ease;
		}

		.center {
			position: absolute;
			top: calc(50% - 10%);
			left: 50%;
			transform: translate(-50%, -50%);
			width: 65%;
			z-index: 5;
			transition: all .3s ease;

			.form-title {
				color: #000;
				font-size: 1.7em;
				text-align: center;

				span {
					color: rgba(0,0,0,0.4);
					opacity: 0;
					visibility: hidden;
					transition: all .3s ease;
				}
			}

			.form-holder {
				border-radius: 15px;
				background-color: #fff;
				border: 1px solid #eee;
				overflow: hidden;
				margin-top: 50px;
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;

				.input {
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 30px;
					line-height: 30px;
					padding: 8px 15px;
					border-bottom: 1px solid #eee;
					width: 100%;
					font-size: 12px;

					&:last-child {
						border-bottom: 0;
					}

					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.4);
					}
				}
			}

			.submit-btn {
				background-color: #6B92A4;
				color: rgba(256,256,256,0.7);
				border: 0;
				border-radius: 15px;
				display: block;
				margin: 15px auto; 
				padding: 15px 45px;
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;

				&:hover {
					background-color: rgba(0,0,0,0.8);
				}
			}
		}

		&.slide-up {
			top: 90%;
			transition: all .3s ease;
		}

		&.slide-up .center {
			top: 10%;
			transform: translate(-50%, 0%);
			transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
		}

		&.slide-up .form-title {
			font-size: 1em;
			margin: 0;
			padding: 0;
			cursor: pointer;
			transition: all .3s ease;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			transition: all .3s ease;
		}
	}
}
.social-container{
	background-color: #fff;
	border:  1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
/* TOAST */
.btn--disable{
    opacity: 0.5 !important;
    cursor: default;
}
#toast1{
    position: fixed;
    top:32px;
    right:30px;
	z-index:999;
}
.toast1{
    display:flex;
    align-items: center;
    background-color: #fff;
    padding:20px 0;
    border-radius: 2px;
    border-left: 4px solid ;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 350px;
    max-width: 400px;
	max-height: 80px;
    transition: all linear 0.3s;
    z-index: 999;
	border-left: 10px solid;

}
@keyframes slideInLeft{
    from{
        transform:translateX(calc(100% + 32px));
        opacity: 0.5;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to{
        opacity:0;
    }
}
.toast1_icon{
  font-size:30px;
  padding:0 20px;
}
.toast1_body{
    font-size:16px;
    font-weight: 600;
    color:#333;
    flex-grow: 1;
}
.toast1_title{
	font-weight: 600;
	font-size:20px;
	color:#666;
	font-family: Georgia, serif;
}
.toast1_msg{
    font-size:16px;
    color:#555;
    margin-top:4px;
    line-height: 1;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif, serif;
}
.toast1_close{
    padding:0 20px;
    font-size:20px;
}
.toast1_close:hover{
    opacity: 0.7;
}
.toast1+.toast1{
    margin-top:24px;
}
.toast1--success{
    border-color: #297d3a;
}
.toast1--success .toast1_icon{
    color: #1f7530;
}
.toast1--warning{
    border-color: #eba709;
}
.toast1--warning .toast1_icon{
    color: #eba709;
}
.toast1--error{
    border-color: #af0b0b;
}
.toast1--error .toast1_icon{
    color: #a60a0a;
}
.modal_login{
	display: none;
	/* display: flex; */
	justify-content: center;
	align-items: center	;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		z-index: 100	;
}
.loading-bar{
	position: relative;
	width: 110px;
	height: 110px;
	background: transparent;
	border: px solid #3c3c3c;
	border-radius: 50%;
	text-align: center;
	line-height: 111px;
	font-family: sans-serif;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: 0 0 20px #00f3ff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	font-weight: 700;
  }
  
  .loading-bar:before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-top: 5px solid #00a1ff;
	border-right: 5px solid #00a1ff;
	border-radius: 50%;
	animation: animateC 2s linear infinite;
  }
  
  @keyframes animateC {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate {
	0% {
	  transform: rotate(45deg);
	}
  
	100% {
	  transform: rotate(405deg);
	}
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
  }
